doctype html
html 
    head   
        title PANEL ALUMNO
    body
        h1 Bienvenido/a, #{student.name}!!

        h2 Datos personales

        p NOMBRE: #{student.lastname}, #{student.name}
        p DNI: #{student.dni}
        p FECHA DE NACIMIENTO: #{student.bornDate}
        p EMAIL: #{student.email}
        p NOMBRE DEL PADRE: #{student.parents.parentName}
        p DNI DEL PADRE: #{student.parents.parentDni}

        h2 Materias inscriptas

        if student.subjects.length > 0
            ul 
                each subject in student.subjects
                    li(style="margin-bottom: 1.2rem") 
                        span #{subject.subjectName}
                        br
                        span(style= "font-weight: bold") Nota: #{subject.score === 0 ? 'SIN NOTA' : subject.score}